node_modules
.env
.env.local
/generated/prisma
# dependencies
node_modules/

# build
.next/
dist/

# env
.env
.env.local
backend/.env

# cloud
.neon

# temp
timestamps.txt

# logs
*.log

# generated
generated/

# typescript
*.tsbuildinfo

.neon
timestamps.txt